.shop-container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.products-container{
    margin: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
}
.btn-proceed{
    background: #FF9900;
    border-radius: 4px;
    width: 90%;
    margin: 10px auto;
    font-size: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 56px;
}
.proceed-link{
    text-decoration: none;
    
}
.pagination{
    text-align: center;
    margin-bottom: 50px;
}

.pagination .selected{
    background-color: #FF9900;
}